apiVersion: batch/v1
kind: CronJob
metadata:
  name: todo-cronjob
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: todo-cronjob
              image: PROJECT/CRONJOB
              env:
                - name: BACKEND_SERVICE_URL
                  valueFrom:
                    configMapKeyRef:
                      name: todo-config
                      key: BACKEND_SERVICE_URL
              resources:
                requests:
                  cpu: "20m"
                  memory: "32Mi"
                limits:
                  cpu: "100m"
                  memory: "128Mi"
          restartPolicy: Never
