apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: PROJECT/BACKEND
          resources:
            requests:
              cpu: '50m'
              memory: '64Mi'
            limits:
              cpu: '250m'
              memory: '128Mi'
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3001
            initialDelaySeconds: 15
            periodSeconds: 10
          env:
            - name: BACKEND_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: BACKEND_PORT
            - name: PG_HOST
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: PG_HOST
            - name: PG_USER
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: PG_USER
            - name: PG_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: PG_PASSWORD
            - name: NATS_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: NATS_URL
