apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-broadcaster-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: broadcaster
  template:
    metadata:
      labels:
        app: broadcaster
    spec:
      containers:
        - name: broadcaster
          image: PROJECT/BROADCASTER
          env:
            - name: NATS_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: NATS_URL
            - name: EXTERNAL_WEBHOOK_URL
              valueFrom:
                secretKeyRef:
                  name: todo-secret
                  key: EXTERNAL_WEBHOOK_URL
          resources:
            requests:
              cpu: "25m"
              memory: "32Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
