apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: todo-volume
          persistentVolumeClaim:
            claimName: todo-claim
      containers:
        - name: todo-app
          image: PROJECT/APP
          env:
            - name: APP_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: APP_PORT
            - name: PICSUM_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: PICSUM_URL
            - name: BACKEND_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: BACKEND_SERVICE_URL
          volumeMounts:
            - name: todo-volume
              mountPath: /usr/src/app/files
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
